<h1>Add a new Cat</h1>

<form action="<%=cats_url%>" method="post">
  <label for="cat_name">Name</label>
  <input type="text" name="cat[name]" id="cat_name" value="">
  <br>

  <label for="cat_birth">Birth</label>
  <input type="date" name="cat[birth_date]" id="cat_birth"value="">
  <br>

  <label for="color">Color</label>
  <select id="color" name="cat[color]">
    <option selected disabled value="">--Select a Color--</option>
    <% Cat::CAT_COLORS.each do |color| %>
    <option value="<%= color %>"><%= color.upcase %></option>
    <% end %>
  </select>
  <br>

  <label for="cat_sex">Male</label>
  <input type="radio" name="cat[sex]" value="M" id="cat_sex">

  <label for="cat_sex">Female</label>
  <input type="radio" name="cat[sex]" value="F" id="cat_sex">
  <br>

  <label>Description
  <textarea name="cat[description]"></textarea>
  </label>
  <br>

  <input type="submit" value="Create">

</form>
